<div class="split-view">
    <div class="split-container">
        <h1>{{'Add Fighter' | translate}}</h1>
        <form [formGroup]="fighterForm" (ngSubmit)="submit()">
            <div class="basic-data-container" formGroupName="basicData">
                <label for="name">{{'Name of the fighter'|translate}}</label>
                <input id="name" type="text" formControlName="name">
                <span class="warning-message"
                    *ngIf="fighterForm.get('basicData.name').invalid && fighterForm.get('basicData.name').touched">{{"Name
                    is required" |translate}}</span>
                <!--  -->
                <label for="surname">{{"Surname of the fighter" | translate}}</label>
                <input id="surname" type="text" formControlName="surname">
                <span class="warning-message"
                    *ngIf="fighterForm.get('basicData.surname').invalid && fighterForm.get('basicData.surname').touched">{{"Surname
                    is required"|translate}}</span>
                <!--  -->
                <label for="nickname">{{"Nickname of the fighter"|translate}}</label>
                <input id="nickname" type="text" formControlName="nickname">
                <span class="warning-message"
                    *ngIf="fighterForm.get('basicData.nickname').invalid && fighterForm.get('basicData.nickname').touched">{{"Nickname
                    is required"|translate}}</span>

                <!--  -->
                <!--  -->
                <label for="img-url">{{"Image URL"|translate}}</label>
                <input id="img-url" type="url" formControlName="imageURL">
                <span class="warning-message"
                    *ngIf="fighterForm.get('basicData.imageURL').invalid && fighterForm.get('basicData.imageURL').touched">{{"Image
                    is required"|translate}}</span>
            </div>

            <br>
            <hr>
            <br>
            <!-- BODY DATA START -->
            <div class="body-data-container" formGroupName="bodyData">

                <div class="body-data">
                    <label for="weight">{{"Weight in KG"|translate}}</label>
                    <input id="weight" type="number" formControlName="weight">
                    <span class="warning-message"
                        *ngIf="fighterForm.get('bodyData.weight').invalid && fighterForm.get('bodyData.weight').touched">{{"Weight
                        is required"|translate}}</span>
                </div>

                <div class="body-data">
                    <label for="height">{{"Height in CM"|translate}}</label>
                    <input id="height" type="number" formControlName="height">
                    <span class="warning-message"
                        *ngIf="fighterForm.get('bodyData.height').invalid && fighterForm.get('bodyData.height').touched">{{"Height
                        is required"|translate}}</span>
                </div>

                <div class="body-data">
                    <label for="reach">{{"Reach in CM"|translate}}</label>
                    <input id="reach" type="number" formControlName="reach">
                    <span class="warning-message"
                        *ngIf="fighterForm.get('bodyData.reach').invalid && fighterForm.get('bodyData.reach').touched">{{"Reach
                        is required"|translate}}</span>
                </div>

                <div class="body-data">
                    <label for="age">{{"Age"|translate}}</label>
                    <input id="age" type="number" formControlName="age">
                    <span class="warning-message"
                        *ngIf="fighterForm.get('bodyData.age').invalid && fighterForm.get('bodyData.age').touched">{{"Age
                        is required"|translate}}</span>
                </div>

            </div>
            <br>
            <hr>
            <br>
            <!--  -->
            <div class="record-container" formGroupName="record">
                <div class="record-data">
                    <label for="wins">{{"Wins"|translate}}</label>
                    <input id="wins" type="text" formControlName="wins">
                </div>

                <div class="record-data">
                    <label for="loses">{{"Loses"|translate}}</label>
                    <input id="loses" type="text" formControlName="loses">
                </div>
                <div class="record-data">
                    <label for="draw">{{"Draws"|translate}}</label>
                    <input id="draw" type="text" formControlName="draw">
                </div>
            </div>
            <span class="warning-message"
                *ngIf="(fighterForm.get('record.wins') || fighterForm.get('record.loses') || fighterForm.get('record.draw')).invalid && (fighterForm.get('record.wins') && fighterForm.get('record.loses') && fighterForm.get('record.draw')).touched">{{"Whole
                record is required"|translate}}</span>
            <!--  -->
            <br>
            <hr>
            <br>
            <!--  -->
            <label for="desc">{{"Say something about this fighter"|translate}}</label>
            <textarea id="desc" rows="5" formControlName="desc"></textarea>
            <span class="warning-message"
                *ngIf="fighterForm.get('desc').invalid && fighterForm.get('desc').touched">{{"Description
                required"|translate}}</span>
            <!--  -->
            <button *ngIf="!editMode" [disabled]="!fighterForm.valid" class="form-submit-btn" type="submit">{{"Add Your
                Fighter !"|translate}}</button>
            <!--  -->
            <!--  -->
            <button *ngIf="editMode" [disabled]="!fighterForm.valid" (click)="update()" class="form-submit-btn"
                type="button">{{"Update Your Fighter !"|translate}}</button>
            <!--  -->
            <span class="warning" *ngIf='fighterForm.invalid'>{{"All the input fields are required"|translate}}</span>
        </form>
    </div>
    <div class="split-container">
        <h1>{{"Fighter Card Preview"|translate}}</h1>
        <app-fighter-card [liveData]="liveData"></app-fighter-card>
    </div>
</div>