<div class="card">
    <span *ngIf="eligibleToEdit" (click)="edit(liveData.desc)" class="edit-btn">{{"Edit"|translate}}</span>
    <span *ngIf="eligibleToEdit" (click)="delete()" class="edit-btn">{{"Delete"|translate}}</span>
    <div class="introduction">
        <img [src]="liveData?.basicData.imageURL" alt="">
        <span class="small-heading" *ngIf="liveData"> {{liveData.basicData.name}}
            "{{liveData.basicData.nickname |
            uppercase}}"
            {{liveData.basicData.surname}}
        </span>
    </div>
    <div class="stats">
        <span>{{liveData?.bodyData.age}} {{"Year old fighter"|translate}}</span>
        <span>{{"Standing"|translate}} {{liveData?.bodyData.height}} {{"Centimeters Tall"|translate}}</span>
        <span>{{"Weighing in"|translate}} {{liveData?.bodyData.weight}} {{"Kilograms"|translate}}</span>
        <span>{{"Reach of "|translate}}{{liveData?.bodyData.reach}} {{"cm"|translate}}</span>
    </div>
    <!-- <br> -->
    <div class="line"></div>
    <!-- <br> -->
    <div class="stats">
        <span class="small-heading">
            {{"Professional Record"|translate}}
        </span>
        <div class="record">
            <span class="record-stat">{{liveData?.record.wins}} {{"WINS"|translate}}</span>
            <span class="record-stat">{{liveData?.record.loses}} {{"LOSES"|translate}}</span>
            <span class="record-stat">{{liveData?.record.draw}} {{"DRAWS"|translate}}</span>
        </div>
    </div>
    <div class="desc stats">
        <span class="small-heading">{{"Fighter Description"|translate}}</span>
        <span class="description">
            {{liveData?.desc}}
        </span>
    </div>
</div>


<!-- <app-add-fighter *ngIf="editMode" [fighterToEdit]="fighterToEdit"></app-add-fighter> -->