h1 {
    text-align: center;
    margin-top: 20px;
    color: rgba(189, 46, 46, 0.89);
}

* {
    color: aliceblue;
}

.card {
    background: rgba($color: #000000, $alpha: .8);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    border-right: 2px solid black;
    border-left: 1px solid black;

    .edit-btn {
        color: rgb(168, 13, 13);
        border: 1px solid rgb(68, 5, 5);
        padding: 3px 22px;
        align-self: flex-end;
        cursor: pointer;
        border-radius: 2px;
        width: 100%;
        background: rgba($color: #000000, $alpha: 0.8);
        text-align: center;

        &:hover {
            background: rgb(68, 5, 5);
        }
    }

    .introduction {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .stats {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .record {
        display: flex;

        .record-stat {
            margin: 5px;
            font-size: 1.4em;
        }
    }

    .description {
        margin: 10px 10%;
    }
}

img {
    max-width: 100%;
    max-height: 300px;
    overflow: hidden;
}