<!-- FOR FUTURE UPDATE -->

<!-- <div class="background">
    <div class="main-header-container">
        <img class="glove-img"
            src="https://images.pngnice.com/download/2007/Black-MMA-Gloves-Transparent-Images-PNG.png"
            alt="ufc Black-MMA-Gloves-Transparent-Images-PNG">
        <span class="heading-text">Welcome to The Project Fighter</span>
    </div>

    <div class="intro-section-container">
        <img src="https://onlyhdwallpapers.com/wallpaper/chuck-liddell-iceman-1Tbz.jpg?preview"
            alt="chuck-liddell-iceman">

        <div class="texts-container">
            <div class="text-box">
                <span class="intro-text">Project fighter is a tribute app for worlds best fighters in history of
                    mankind.
                    All the fighters are
                    added by our registered users, no bias, no BS</span>
            </div>
            <div class="text-box">
                <span class="intro-text">Even though there are mostly MMA fighters listed, all kinds of fighters are
                    welcome. as MMA itself is a Mix of all and any martial arts !</span>
            </div>
        </div>

    </div>
    <div class="description-section-container">
        <img src="https://www.wallpaperbetter.com/wallpaper/6/410/483/mma-hd-720P-wallpaper-middle-size.jpg"
            alt="georges-st-pierre">

        <div class="texts-container">
            <div class="text-box">
                <span class="intro-text">All the fighters listed are available to see and admire to any visitor of our
                    website. Check them out, be our guest!</span>
            </div>
            <div class="text-box">
                <span class="intro-text">If fighting is an art for you, as much as for us, Register and join us to
                    unlock
                    the full functionality of our website.</span>
            </div>

            <button (click)="toTheAuth()" class="join-button" type="button">Join Us !</button>
        </div>
    </div>

    <div class="main-header-container">
        <span class="heading-text">Meet the Georgian Hall Of Fame</span>
        <img class="glove-img"
            src="https://images.pngnice.com/download/2007/Black-MMA-Gloves-Transparent-Images-PNG.png"
            alt="ufc Black-MMA-Gloves-Transparent-Images-PNG">
    </div>

    <div class="hall-of-fame-section">
        <div class="hall-of-fame">
            <div *ngFor="let f  of dummyHOFArr" class="HOF-card">
                <app-fighter-card [liveData]="f"></app-fighter-card>
            </div>
        </div>
    </div>

</div> -->