/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background: url('https://cdn.hipwallpaper.com/i/32/3/hKjXAt.jpg') no-repeat fixed;
    background-size: cover;
}

// .small-heading {
//     font-size: 2rem;
// }

.line {
    width: 80%;
    background-color: red;
    height: 1px;
    margin: 12px 0;
}

.small-heading {
    font-size: 1.4em;
    border-bottom: 1px solid red;
    color: rgba(#fff, .9);
    font-weight: bold;
    margin: 10px 0;
}

.form-submit-btn {
    margin-top: 15px;
    padding: 10px;
    background-color: white;
    outline: none;
    border: 1px solid black;
    border-radius: 2px;
    cursor: pointer;
    width: 150px;
    align-self: center;

    &:active {
        background-color: #999;
    }
}

.small-btn {
    padding: 3px 10px;
    margin: 5px;
    border: none;
    border-radius: 2px;
    cursor: pointer;

    &:hover {
        background: #a8a8a8;
    }
}

.error-box {
    margin-top: 40px;
    padding: 8px 13px;
    border: 1px solid rgb(182, 85, 85);
    color: rgb(255, 0, 0);
    border-radius: 2px;
    background: rgba($color: rgb(173, 156, 156), $alpha: .2);
}